body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6f9;
}

/* LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    height: 100vh;
    background: #1e8449;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar a:hover,
.sidebar .active {
    background: #27ae60;
}

.logout {
    margin-top: auto;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-right input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


/* CARDS */
.cards {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.green {
    color: green;
}

.red {
    color: red;
}

/* BOX */
.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* FAKE CHART */
.chart {
    height: 200px;
    background: linear-gradient(to top, #2ecc71, transparent);
    border-radius: 10px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.btn {
    background: #22c55e; /* verde */
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    font-family: 'Poppins', sans-serif;
}

.btn .icon {
  font-size: 18px;
  font-weight: bold;
}

.btn:hover {
  background: #16a34a;
  transform: translateY(-1px);
}

.search {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.table-box {
    background: white;
    border-radius: 10px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    color: #777;
    padding: 10px;
}

td {
    padding: 12px 10px;
    border-top: 1px solid #eee;
}

/* EDITAR */
.actions i {
    margin-right: 10px;
    cursor: pointer;
    
}

.actions i:hover {
    color: #6fb38b;
}

.actions button {
  background: transparent; /* tira o fundo */
  border: none;            /* tira a borda */
  padding: 0;              /* remove espaçamento */
  cursor: pointer;
}

.actions .fa-trash {
  color: red;
}
/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/* CAIXA DO MODAL */
.modal-content {
  background: white;
  padding: 25px;
  margin: 8% auto;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
}

/* ANIMAÇÃO */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* BOTÃO FECHAR */
.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}

/* INPUTS DO MODAL */
.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BOTÃO SALVAR */
.modal-content button {
  width: 100%;
  padding: 10px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #27ae60;
}